{
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "alias": {
          "^effector$": "effector-root"
        }
      }
    ],
    [
      "@emotion/babel-plugin",
      {
        "autoLabel": "dev-only"
      }
    ]
  ]
}
